h1 {font-family: verdana;
font-size: 50;
color: white;
text-align: center;
font-weight: normal;
background-color: black;}

h3 {font-family: verdana;
color: aquamarine;
font-size: 16;
text-align: center;
background-color: black;}
